@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body header {
  position: relative;
  background-image: url(../img/bg3.3.jpg);
  -webkit-background-size: cover;
  background-size: cover;
}
body header:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
body .inner {
  position: relative;
  z-index: 3;
  color: #fff;
  text-align: center;
  padding: 50px;
}

span {
  font-weight: 300;
}

.main_news {
  position: relative;
}
.main_news h1 {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  color: aliceblue;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: ani_li1 3.5s forwards;
}
.main_news p {
  position: relative;
  width: 50%;
  height: 100%;
  font-size: larger;
  left: 20rem;
  display: flex;
  color: aliceblue;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: ani_li1 3.5s forwards;
}
.main_news .imgs {
  position: relative;
  right: 25rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.names_of_company h6 {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 150%;
  color: aliceblue;
}
.names_of_company .logo h6 {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 150%;
  color: aliceblue;
}

.contacts_on_bottom h3 {
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: aliceblue;
  opacity: 0;
  animation: ani_li1 3.5s forwards;
}
.contacts_on_bottom li {
  list-style: none;
}
.contacts_on_bottom .contacts a {
  position: relative;
  background: linear-gradient(135deg #333333 #444444);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  top: -20px;
  color: aliceblue;
  opacity: 0;
  animation: ani_li1 3.5s forwards;
}

hr {
  height: 20px;
  margin: 30px auto;
  width: 70%;
  background-image: radial-gradient(farthest-side at 50% -50%, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  position: relative;
  border: none;
}

hr:before {
  height: 1px;
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 0));
}

.other_news h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  opacity: 0;
  animation: ani_li1 3.5s forwards;
}
.other_news hr {
  height: 20px;
  margin: 30px auto;
  width: 70%;
  background-image: radial-gradient(farthest-side at 50% -50%, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  position: relative;
  border: none;
}
.other_news hr:before {
  height: 1px;
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 0));
}
.other_news .links_to_other_news li {
  list-style: none;
}
.other_news .links_to_other_news li a {
  padding-bottom: 40px;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: aliceblue;
  top: 20px;
  opacity: 0;
  animation: ani_li1 3.5s forwards;
}

.about li {
  list-style: none;
}
.about a {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  top: -20px;
  color: aliceblue;
}
.about hr {
  height: 20px;
  margin: 30px auto;
  width: 70%;
  background-image: radial-gradient(farthest-side at 50% -50%, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  position: relative;
  border: none;
}
.about hr:before {
  height: 1px;
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 0));
}

@keyframes ani_li1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=styles.css.map */